$primary_950: #162555;
$primary_900: #1c3b8c;
$primary_800: #1b41b2;
$primary_700: #1a53e3;
$primary_600: #2165ef;
$primary_500: #3785fa;
$primary_400: #5da8fd;
$primary_300: #91c7ff;
$primary_200: #bedcff;
$primary_100: #daebff;
$primary_50: #eff6ff;

$color_action: $primary_500;
$color_hover: $primary_700;